<div class="row clearfix">
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="https://i.redd.it/3oqqyn8x4z311.jpg" alt="...">
      <div class="caption">
        <h3>Counter Strike</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum veritatis quasi,
          voluptatem, quaerat
          alias, blanditiis molestiae in nemo nulla illo laudantium quo id soluta eveniet rerum sint ex! Provident?</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img
        src="https://images.sftcdn.net/images/t_app-cover-l,f_auto/p/3de50cf4-96d0-11e6-81a7-00163ed833e7/4036541787/need-for-speed-most-wanted-demo-maxresdefault%20(1).jpg"
        alt="...">
      <div class="caption">
        <h3>NFS Most Wanted</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum veritatis quasi,
          voluptatem, quaerat
          alias, blanditiis molestiae in nemo nulla illo laudantium quo id soluta eveniet rerum sint ex! Provident?</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="https://static.gamespot.com/uploads/original/1179/11799911/2739781-heroes.png" alt="...">
      <div class="caption">
        <h3>COD Heroes</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum veritatis quasi,
          voluptatem, quaerat
          alias, blanditiis molestiae in nemo nulla illo laudantium quo id soluta eveniet rerum sint ex! Provident?</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="https://steamcdn-a.akamaihd.net/steam/apps/578080/header.jpg?t=1545084399" alt="...">
      <div class="caption">
        <h3>PUBG</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum veritatis quasi,
          voluptatem, quaerat
          alias, blanditiis molestiae in nemo nulla illo laudantium quo id soluta eveniet rerum sint ex! Provident?</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="https://i0.wp.com/chrometechny.in/wp-content/uploads/2016/08/mini-militia.jpeg?fit=634%2C356&ssl=1" alt="...">
      <div class="caption">
        <h3>Mini Militia</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum veritatis quasi,
          voluptatem, quaerat
          alias, blanditiis molestiae in nemo nulla illo laudantium quo id soluta eveniet rerum sint ex! Provident?</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-4">
    <div class="thumbnail">
      <img src="https://i.ytimg.com/vi/NX9K598sx9E/maxresdefault.jpg" alt="...">
      <div class="caption">
        <h3>IGI-2</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum veritatis quasi,
          voluptatem, quaerat
          alias, blanditiis molestiae in nemo nulla illo laudantium quo id soluta eveniet rerum sint ex! Provident?</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>